language: go
go: 1.7
go_import_path: github.com/codestand/build
sudo: required
services:
  - docker

install:
  - make init
  - govendor list
  - make build
  - go build -i test/callback_server.go
  - docker build -t build -f example/build.docker .

script:
  - make test_all

  # e2e test
  - PORT=8080 make run &
  - sleep 7
  - curl --form file=@example/app.tar --form callback=http://localhost:8888/callback http://localhost:8080/builds
  - PORT=8888 ./callback_server --timeout 3 || exit 1
  - ./tmp/app

cache:
  directories:
    - vendor
