language: go
go: 1.6
go_import_path: github.com/codestand/build
sudo: required
services:
  - docker

install:
  - make init
  - make build

script:
  - make test
  - docker build -t build -f example/build.docker .
  - make run &
  - sleep 7
  - curl --form "f=@example/app.tar" http://localhost:8080/builds
  - ./tmp/app

cache:
  directories:
    - vendor
