language: go
go: 1.6
sudo: required
services:
  - docker

install:
  - make init
  - make build

script:
  - make test
  - docker build -t build -f example/build.docker .
  - make run &
  - sleep 7
  - curl --form "f=@example/app.tar" http://localhost:8080/builds
  - ls -lha ./tmp
  - ./tmp/app

cache:
  directories:
    - vendor
