language: go
go: 1.6
sudo: required

install:
  - make init
  - make build

script:
  - make test
  - docker build -t build -f example/build.docker .
  - make run &
  - sleep 5
  - curl --form "f=@example/app.tar" http://localhost:8080/builds

cache:
  directories:
    - vendor
