language: go
go: 1.7
go_import_path: github.com/codestand/build
sudo: required
services:
  - docker

install:
  - make init
  - govendor list
  - make build
  - go build -i test/callback_server.go
  - docker build -t build -f example/build.docker .

script:
  - make test_all
  - PORT=8080 make run &
  - sleep 7
  - curl --form file=@example/app.tar --form callback=http://localhost:8888/callback http://localhost:8080/builds
  - PORT=8888 ./callback_server --timeout 3 || exit 1
  - ./tmp/app

cache:
  directories:
    - vendor

before_deploy:
  - make archive

deploy:
  provider: releases
  api_key:
    secure: "UCQJ8cebJuO7RC7RtvIBra+bFkHLf5oXaaWehO1pYY/SY5ZxCW12YQA7x0UBxc8pmxpLrSrmm0bNhAB8BR49ZpKntXyguW5sFflSTnNDgkX3lxgVtN+b+pwiq/jjVtFaMpKg+mPeQb5gBqQbL3BreXqdTIFItqKuNd8POzhQfcjJh+Bk4UzbDuazPHgfkib15vqqLWN3NHFu8tWafkxlEYEcsMXqkm5+eYY04Muu/lDKjOXtH9d+iXg1padGpAIh4pZlc+fJBk5fkR+Vz3NHdX+W94aK5jlR62jc8EP5Pikf6/ejwJ4CqBAmp1hfLaSh4Yxl0H1zJgrmwkS1mr8222jyl8slumbshsl/wUNe/BkkY0stzVRqz+zwwT2w4r7Zu5Hit1PNvTPk5lWE18sbldJT5ns1GZibo+cL0/7nobj3dmboIsicfgL8vb9t+oOqx/z1KlujXb/Uo9XhVUdUO96Q9DuxKXHLcZ/EGEeOmY733bl2IKFza/y+K6+YptLOMHcdCc1hBGikVsuU8MFRFDcWbWTp2t+kGQ39dNyKyUTe6JgriYwiz3RhzZQ8sYRUiB5ebEvdVsHmVb+hI2Vt9KSt6Z+f8zOF6mRTfMV0N3TMym4MFCLnOHACOsNBgxJU2rscfM/oWWq5sXfwdvAGoWsyVh+rEH/cNFnN4fueaBs="
  file: app.tar.gz
  on:
    tags: true
